/.env
/.logs
/logs
/.plugins
/__pycache__
/air/dags/functions/__pycache__
/functions/construction.py
/functions/tests/__pycache__
/__pycache__
/functions/__pycache__
/functions/tests/__pycache__
/functions/tests/.pytest_cache
/home/luis-felipe/Estudos/Projeto-final-pos/air/dags/functions/tests/__pycache__
/home/luis-felipe/Estudos/Projeto-final-pos/air/dags/functions/tests/.pytest_cache
/home/luis-felipe/Estudos/Projeto-final-pos/air/logs
/home/luis-felipe/Estudos/Projeto-final-pos/air/dags/__pycache__
/home/luis-felipe/Estudos/Projeto-final-pos/.pytest_cache